
    <!--COMPONENT: SEARCH BAR-->
    <div class="flex max-w-full h-14 rounded justify-between mt-5 bg-slate-50">
        <!--BUTTONS: CREATE AND REFRESH-->
        <div class="flex w-3/12 text-white items-center text-sm">
            <button class="flex items-center w-auto h-1/2 ml-5 mr-3 py-2 bg-green-600 rounded p-4 hover:bg-green-700 transition ease-in delay-150 hover:scale-105 duration-75"><i class="fa-solid fa-square-plus m-1"></i>Crear</button>
            <button class="flex items-center w-auto  h-1/2 py-3 bg-blue-600 hover:bg-blue-700 rounded p-4 transition ease-in delay-150 hover:scale-105 duration-75"><i class="fa-sharp fa-solid fa-bolt m-1"></i>Refrescar</button>
        </div>
        <!--END BUTTONS: CREATE AND REFRESH-->
        <!--INPUT SEARCH-->
        <div class="flex w-4/12 text-white items-center relative mx-5">
            <input type="search" id="" class="relative outline-none block rounded-l-sm autofo p-2.5 w-full text-sm dark:bg-gray-200 text-black " placeholder="Buscar..." required [(ngModel)]="textWritten" (keyup)="searchText()">
        <button (click)="searchText()" type="submit" class="top-0 right-0 p-2.5 z-10 text-sm font-medium text-white rounded-r-sm   border-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none dark:bg-slate-600 dark:hover:bg-slate-700 transition ease-in delay-150 hover:scale-105 duration-105"><svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns=""><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
        </div>
        <!--END INPUT SEARCH-->
    </div>
     <!--END COMPONENT: SEARCH BAR-->
