<aside class="w-64 h-screen bg-white " aria-label="Sidebar">
  <div class="overflow-y-auto py-4 px-3 rounded-r">
    <ul class="space-y-2">
        <li>
            <a href="#" class="flex items-center w-full px-5 py-2 rounded transition duration-75 group  hover:bg-gray-300">
                <i class="fa-solid fa-arrows-to-eye"></i>
                <span class="ml-3">Panel informativo</span>
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </li>
        <li>
            <button type="button" class="flex items-center w-full px-5 py-2 rounded transition duration-75 group hover:bg-gray-300" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                <i class="fa-solid fa-money-bill-transfer"></i> 
                <span class="ml-3">Transacciones</span>
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <ul #dropDownTransactions>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </li>
    </ul>

  </div>
</aside>
